html {
	scroll-behavior: smooth;
}

body {
	background-color: #343434;
	margin: 0;
}

.body-child {
	margin-left: 10px !important;
	margin-right: 10px !important;
	/*min-width: 500px;
	overflow: hidden;*/
	/*padding: 16px;*/
	/*margin: 16px;*/
}

.body-child:hover {
	/* hover selektor lässt sich nicht nur mit a container verwenden*/
	background-color: white;
	/*padding-left: 60px !important;
	padding-right: 60px !important;
	padding: 20px;*/
}

.bg1 {
	/*benutzt bei jeder zweite body-child container*/
	background-color: #a0aaba;
}

.bg2 {
	/*benutzt bei jeder zweite body-child container*/
	background-color: #abd9b6;
}

.text {
	padding: 16px;
	/*font-family: 'Satisfy', cursive;
	font-size: 1em;*/
	font-family: 'Baloo Tamma 2', cursive;
}

#Anfahrt p{
	width: 40%;
}

.map {
	width: 40%;
	height: 400px;
}

.menu {
	position: absolute;
	top: 0px;
	right: 10px;
	/*same as body-child*/
	left: 10px;
	/*same as body-child*/
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	/*min-width: 500px;
	overflow: hidden;*/
}

.menu a {
	/*ändert alle "a" elemente die zu container class menu gehören*/
	color: white;
	font-size: 20px;
	text-decoration: none;
	/* keine Decoration haben. */
	margin-left: 6px;
	margin-right: 6px;
}

.menu a:hover {
	/* ändert das "a" element die zu container class menu gehört wenn man die Mouse über das element platziert*/
	text-decoration: underline;
}

.restaurantBild {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

#info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topic-child{
	width: 50%;
}

#interesting-topics {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

#interesting-topics iframe {
	width: 100%;
	height: 800px;
}

#bottom {
	background-color: #545454;
}

.footer {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	/*erstellt der freie Platz scwischen die Elemente die zu dem Container footer gehören*/
}

.footer-child {
	display: flex;
	flex-direction: column;
	color: white;
}

.footer-child a{
	text-decoration: none;
	color: white;
}

.footer-child a:hover{
	text-decoration: underline;
}

@media(max-width: 1024px){
	#interesting-topics {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.topic-child{
		width: 80%;
	}

	#interesting-topics iframe{
		width: 100%;
		height: 400px;
	}

	.map{
		width: 50%;
		height: 400px;
	}

	#Anfahrt p{
		width: 50%;
	}
}

@media(max-width: 768px){

	.map{
		width: 100%;
		height: 400px;
	}

	#Anfahrt p{
		width: 100%;
	}
}