
			html{
				scroll-behavior: smooth;
			}

			body{ 
				background-color: #343434;
				font-family: 'Satisfy', cursive;
			}

			.body-child{
				padding-left: 140px !important;
				padding-right: 140px !important;
				padding: 16px;
				margin: 16px;
			}

			.body-child:hover{/* hover selektor lässt sich nicht nur mit a container verwenden*/
				background-color: white;
				padding-left: 140px !important;
				padding-right: 140px !important;
				padding: 20px;
			}

			.bg1{/*benutzt bei jeder zweite body-child container*/
				background-color: #a0aaba;
			}

			.bg2{/*benutzt bei jeder zweite body-child container*/
				background-color: #abd9b6;
			}

			.menu{
				position: fixed;
				top: 0px;
				right: 0px;
				left: 0px;
				padding: 10px;
				background-color: rgba(0, 0, 0, 0.5);
			}
			
			.menu a{ /*ändert alle "a" elemente die zu container class menu gehören*/
				color: white;
				font-size: 20px;
				text-decoration: none; /* keine Decoration haben. */
			}

			.menu a:hover { /* ändert das "a" element die zu container class menu gehört wenn man die Mouse über das element platziert*/
				text-decoration: underline;
				color: blue;
			}

			.restaurantBild{
				width: 100%;
				height: 200px;
				object-fit: cover;
			}

			#relevant-info{
				display: flex;
				justify-content: space-between;
			}

			.info-child{
				width: 60%;
			}

			#reachable-info{
				width: 25%;
				display: flex;
				flex-direction:column;
				justify-content: space-around;
			}

			#interesting-topics{
				display: flex;
				justify-content: space-between;
			}

			#interesting-topics iframe{
				width: 100%;
				height: fit;
			}

			#bottom{
				background-color: #545454;
			}
				
			.footer {
			  padding: 40px;
			  display: flex;
			  justify-content: space-between;/*erstellt der freie Platz scwischen die Elemente die zu dem Container footer gehören*/
			}

			.footer-child{
				width: 30%;
				color: white;
			}
			
