.container{
    display: flex;
    justify-content: center;
}

.container form{
    display: flex;
    flex-direction: column;

    max-width: 600px;
    width: 100%;
}

.container form textarea{
  
}

.edit{
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    background-color: var(--second-color);
    cursor: pointer;
    transition: all 225ms ease-in-out;
    border: 1px solid rgba(0,0,0,0);
}

.edit:hover{
    transform: scale(1.1);
    transition: all 225ms ease-in-out;
    border: 1px solid white;
}
.editable:hover{
    background-color: var(--thirt-color);
    cursor: pointer;
}

.btns-container{
    display: flex;
    justify-content: space-between;
}