 <!--TagesKarte Container-->
 <div id="tageskarte" class="d-none bg2 body-child">
    <table>
        <caption><h2>Tageskarte</h2></caption>
        <thead>
           
            <tr>
                <td><b>Nr.</b></td>
                <td><b>Name</b></td>
                <td><b>Price</b></td>
                <td><b>Details</b></td>
            </tr>
        </thead>
        <tbody id="list">
            <!--Generated HTML-->
            <!--generatedHTMLProduct(product);-->
        </tbody>
    </table>
    <!-- <h2>Tageskarte</h2> -->

    <!-- <ul id="list"></ul> -->

    <p>Öffnen Sie unsere Tageskarte als <a href="downloads/Tageskarte.pdf" target="_blank">PDF</a></p>
</div>
<!--Tageskarte Container End-->